<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="col d-flex flex-column align-items-center bg-dark text-light border py-5">
          <h2>Yourself</h2>
          <fa-icon [icon]="faPerson" size="4x" class="text-warning py-3"></fa-icon>
          <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
          <a href="#" class="btn btn-outline-warning">
            Register
          </a>
      </div>


      <div class="col d-flex flex-column align-items-center bg-dark text-light border py-5">
          <h2>My child</h2>
          <fa-icon [icon]="faChild" size="4x" class="text-primary py-3"></fa-icon>
          <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
          <a href="#" class="btn btn-outline-primary">
            Register
          </a>
      </div>

      <div class="col d-flex flex-column align-items-center bg-dark text-light border py-5">
        <h2>Group</h2>
        <fa-icon [icon]="faPeopleGroup" size="4x" class="text-success py-3"></fa-icon>
        <!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
        <a href="#" class="btn btn-outline-success">
          Register
        </a>
    </div>


    </div>
  </div>