<div class="container-fluid gx-0 pb-4">
    <pre>{{ filteredParams | json}}</pre>
    <!-- <ul>
        <li *ngFor="let filter of filteredParams | keyvalue">
            {{ filter.key }}
            <ul>
                <li *ngFor="let data of filteredParams['' + filter.key + ''] | keyvalue">{{data.key}}
                    <ul>
                        <li *ngFor="let option of filteredParams['' + filter.key + ''][''+data.key+'']">{{option}}</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> -->

    <div class="btn-toolbar bg-light p-5">
        <form [formGroup]="filterForm">
            <div class="form-group" *ngFor="let filter of filteredParams | keyvalue">
                <label class="text-capitalize" [for]="filter.key">{{ filter.key }}: </label>
                <select class="form-control form-select" [name]="filter.key" [id]="filter.key" placeholder="Select" formControlName="{{filter.key}}">
                    <option value="" disabled selected hidden>Choose a selection</option>
                    <option *ngFor="let option of filteredParams['' + filter.key + '']['options']" [value]="option">{{option}}</option>
                </select>
            </div>
        </form>
    </div>

    <pre>{{ filterForm.value | json}}</pre>

</div>