<div class="container-fluid gx-0 pb-4">
  <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    <app-card title="Programs" desc="Looking for a something do? We have many different programs for you and your family." themeClass="dark" btnText="Register for a program" btnRoute="/" btnClass="warning"></app-card>
    <app-card title="Leagues" desc="Want to build up skill and challenge others? Check out our leagues." themeClass="dark" btnText="Join a league" btnRoute="/" btnClass="primary"></app-card>
    <app-card title="Calendar" desc="Looking for the next public skate or a game schedule?" themeClass="dark" btnText="See upcoming events" btnRoute="/" btnClass="success"></app-card>
  </div>
</div>

<div class="container-fluid gx-0 pb-4">
  <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
    <app-card *ngIf="authService.userData as user" [title]="user.displayName || 'Welcome User!'" [desc]="user.email" [avatar]="true" ></app-card>
    <app-content-tabs *ngIf="authService.isLoggedIn" class="flex-fill pt-2" [group]="'Velociraptors'"></app-content-tabs>
  </div>
</div>

<pre>{{ authService.userData | json}}</pre>