<div class="container g-0 bg-dark bg-opacity-10 rounded mt-5 col-12 col-sm-10 col-md-10 col-lg-6 d-flex flex-column">

  <div class="bg-primary bg-gradient rounded-top px-4 py-2 text-light">
    <div class="d-flex flex-row align-items-center row">
      <fa-icon [icon]="faUserLock" size="2x" class="col-12 col-sm-2 col-md-auto"></fa-icon>

      <div class="d-flex flex-column col-sm-12 col-12 col-sm-10 col-md-10">
        <h5>Register</h5>
      </div>
    </div>
  </div>

  <div class="p-3">
    <form #registerForm class="d-flex flex-column">
      <label for="userEmail" class="">Email Address: </label>
      <input id="userEmail" class="form-control" type="email" #userEmail required />

      <label for="userPwd" class="">Password: </label>
      <input id="userPwd" class="form-control" type="password" #userPwd required />

      <div class="btn-group btn-group-sm my-4">
        <input type="button" class="btn btn-outline-success" value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)" />
        <button type="button" class="btn btn-outline-primary" (click)="authService.GoogleAuth()">
          <fa-icon [icon]="faGoogle" size="1x"></fa-icon> Continue with Google
        </button>
      </div>

      <div class="btn-group btn-group-sm">
        <span class="btn">Already have an account? <a class="btn-link" routerLink="/sign-in">Log In</a></span>
      </div>

    </form>
  </div>


</div>