<div class="card bg-primary text-light p-0 d-flex flex-row w-100">
    <div class="card-header col-2 d-flex">
        <p class="card-text d-flex flex-column flex-fill justify-content-center">
            <span class="placeholder my-1 col-7"></span>
            <span class="placeholder my-1 col-4"></span>
        </p>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
    </div>
    <div class="card-footer d-flex">
        <a href="#" class="btn btn-outline-light align-self-center">View</a>
    </div>
</div>