<!-- <div class="container-fluid gx-0 pb-4">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3"> -->
        <!-- <app-card *ngFor="let item of list" [title]="item?.name" [desc]="item?.desc" [img]="item?.image"
            themeClass="dark" btnText="View" btnRoute="/programs/{{item.programId}}" btnClass="warning"></app-card> -->

            <!-- <app-card title="item?.name" desc="item?.desc" themeClass="dark" btnText="View" btnRoute="/" btnClass="warning"></app-card> -->


            <!-- <div class="card w-100 rounded-0">
                <div class="card-header">
                  <img class="card-img-top" src="" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 class="card-title">test</h5>
                  <p class="card-subtitle mb-2">test</p>
                </div>
                <div class="card-footer border-top-0 rounded-0 text-center bg-gradient">
                  <a routerLink="/z" class="btn">test</a>
                </div>
              </div>

    </div>
</div> -->




<div class="container-fluid col-10 gx-0 pb-4">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        
        <!-- <div class="card w-100 rounded-0">
            <div class="card-body d-flex flex-row ">
                <div class="bg-secondary">
                </div>
                <div>
                    <h5 class="card-title">test</h5>
                    <p class="card-subtitle mb-2">test</p>
                </div>
                <div>
                    <a routerLink="/z" class="btn">test</a>
                </div>
            </div>
          </div> -->


        <div class="series-list">
            <div class="series-item">
                <div class="filter-bio">
                    Morning
                </div>
                <div class="item-details">
                    <div class="series-name">Adult Development Series</div>
                    <div class="skill-level badge">Hockey - Skill Level - C - Recreational</div>
                    <div class="series-info">Adult skill development sessions focusing on skating, shooting,</div>
                    <div class="series-location">Kraken Community Iceplex</div>
                </div>
                <div class="item-link">
                    <button class="btn btn-kraken">test</button>
                </div>
            </div>
        </div>





    </div>
</div>