<div class="container-fluid col-10 gx-0 pb-4">
    <div class="row gy-4 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">

        <!-- 2 column layout -->

        <!-- left col -->
        <div class="border">

            <div class="bg-warning">
                <!-- DATA SELECTOR COMPONENT -->
                <p>DATE SELECTOR COMPONENT</p>
            </div>

            <div class="bg-warning">
                <p>EVENT LIST COMPONENT</p>
                <!-- EVENT LIST COMPONENT -->
                <app-card title="Event Name" desc="1:30pm - 3:00pm"></app-card>
                <app-card title="Event Name 1" desc="3:30pm - 6:00pm"></app-card>
                <app-card title="Event Name 3" desc="6:30pm - 9:00pm"></app-card>
            </div>

        </div>
        <!-- end left col -->

        <!-- right col -->
        <div class="border">

            <div class="bg-warning">
                <app-google-map></app-google-map>
            </div>

        </div>
        <!-- end right col -->

        <!-- end 2 column layout -->

    </div>
</div>