:host {
    margin-left: 0;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 1px;
  }
  
  // :host {
  //   flex: auto;
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  // }
  
  .map {
    background: grey;
    // height: 50vh;
    height: 300px;
    width: 100%;
  }