<!-- <div class="card w-100 rounded-0" [ngClass]="[backgroundColor || 'bg-light', borderColor || 'border-secondary', textColor || 'text-dark']">
  <div *ngIf="avatar || img" class="card-header">
    <ngx-avatar *ngIf="avatar" [round]="false" cornerRadius="3" class="d-flex justify-content-center py-3" size="200" name="{{title}}" [round]="true"></ngx-avatar>
    <img *ngIf="img" class="card-img-top" src={{img}} alt="Card image cap">
  </div>

  <div class="card-body">
    <h5 *ngIf="title" class="card-title">{{ title }}</h5>
    <p *ngIf="desc" class="card-subtitle mb-2">{{ desc }}</p>
  </div>
  <div *ngIf="btnText && btnRoute" class="card-footer border-top-0 text-center" [ngClass]="[footerColor]">
    <a [routerLink]="btnRoute" class="btn" [ngClass]="[buttonColor]">{{ btnText}}</a>
  </div>
</div> -->

<div class="card w-100 rounded-0" [ngClass]="[borderColor]">
  
  <div *ngIf="avatar || img" class="card-header">
    <ngx-avatar *ngIf="avatar" [round]="false" cornerRadius="3" class="d-flex justify-content-center py-3" size="200" name="{{title}}" [round]="true"></ngx-avatar>
    <img *ngIf="img" class="card-img-top" src={{img}} alt="Card image cap">
  </div>

  <div class="card-body">
    <h5 *ngIf="title" class="card-title">{{ title }}</h5>
    <p *ngIf="desc" class="card-subtitle mb-2">{{ desc }}</p>
  </div>
  <div *ngIf="btnText && btnRoute" class="card-footer border-top-0 rounded-0 text-center bg-gradient" [ngClass]="[footerColor]">
    <a [routerLink]="btnRoute" class="btn" [ngClass]="[buttonColor]">{{ btnText}}</a>
  </div>
</div>