@import '/src/variables';

.series-list {
    display: flex;
    flex-direction: row;
    width: 100%;

    .series-item {
        display: flex;
        border: solid 1px $primary;

        .filter-bio {
            background-color: $primary;
            display: flex;
            flex: 1 0 125px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
        }
        .item-details {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            .skill-level {
                background-color: $primary;
            }
        }
        
    }
}