<div class="container-fluid col-10 gx-0 pb-4">
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="d-inline-block" ngbDropdown #locationFilter="ngbDropdown">
            <button type="button" class="btn btn-dark me-2" id="locationFilterDropdown" ngbDropdownAnchor
                (focus)="locationFilter.open()">Location</button>
            <div ngbDropdownMenu aria-labelledby="locationFilterDropdown">
                <button ngbDropdownItem *ngFor="let location of programLocationOptions">{{location}}</button>
            </div>
        </div>
        <div class="d-inline-block" ngbDropdown #activityFilter="ngbDropdown">
            <button type="button" class="btn btn-dark me-2" id="activityFilterDropdown" ngbDropdownAnchor
                (focus)="activityFilter.open()">Activity</button>
            <div ngbDropdownMenu aria-labelledby="activityFilterDropdown">
                <button ngbDropdownItem *ngFor="let activity of programActivityOptions">{{activity}}</button>
            </div>
        </div>
    </div> -->

    <app-program-filter [filteredParams]="filters"></app-program-filter>

    <!-- <form [formGroup]="filters">
        <label for="location">Location: </label>
        <select class="form-control form-select" name="location" id="location" placeholder="Select" formControlName="location">
            <option value="" disabled selected hidden>Choose a selection</option>
            <option value="test">test</option>
            <option value="test">test</option>
            <option value="test">test</option>
        </select>
    </form> -->
    <!-- <pre>{{ programLocationOptions | json}}</pre>
    <pre>{{ programActivityOptions | json}}</pre> -->

    

    <!-- <pre>{{ filters | json}}</pre>
    <pre>{{ filteredList | json}}</pre> -->
</div>


<div class="container-fluid col-10 gx-0 pb-4">
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">
        <app-card *ngFor="let item of list" [title]="item?.name" [desc]="item?.desc" [img]="item?.image" colorClass="primary" btnText="View" btnRoute="/programs/{{item.programId}}"></app-card>
    </div>
</div>

<!-- <pre class="border col-6">{{ list | json}}</pre> -->