<!-- <app-long-card></app-long-card> -->

<div class="container-fluid col-10 gx-0 pb-4" >

    <div class="row gy-4 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 pb-4">
        <app-long-card></app-long-card>
    </div>

    <div class="row gy-4 row-cols-1 row-cols-sm-1 row-cols-md-auto row-cols-lg-auto">
        <app-card ngClass="bg-primary mx-3" title="SKILL LEVEL:" desc="NA" colorClass="primary"></app-card>
        <app-card ngClass="bg-info mx-3" title="SPORT" desc="NA" colorClass="info"></app-card>
        <app-card ngClass="bg-dark mx-3" title="AGE GROUP:" desc="NA" colorClass="dark"></app-card>
        <app-card ngClass="bg-warning mx-3" title="GENDER:" desc="NA" colorClass="warning"></app-card>
        <app-card ngClass="bg-danger mx-3" title="STARTS:" desc="NA" colorClass="danger"></app-card>
  
    </div>
  
  </div>