<table class="table table-primary table-hover table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of columnHeaders; index as i">
        <span *ngIf="!header.hidden">{{ header.name }}</span>
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let row of data; index as rowindex">
      <td *ngFor="let cell of row | keyvalue; index as colindex">
        <a *ngIf="columnHeaders[colindex].linkBy" [routerLink]="row.id">
          {{ data[rowindex]['' + columnHeaders[colindex]?.property + ''] }}
        </a>
        <span *ngIf="!columnHeaders[colindex].linkBy && !columnHeaders[colindex].hidden">{{ data[rowindex]['' +
          columnHeaders[colindex]?.property + ''] }}</span>
      </td>
    </tr>
  </tbody>
</table>

<!-- <pre>{{ columnHeaders | json }}</pre>
<pre>{{data | json}}</pre> -->